{
	"cfg" : {
		"src" : "repertoire_sass",
		"dst" : "repertoire_css"
	},
	"sass" : {
		"options" : {
			"outputStyle" : "nested",
			"sourceMap": true
		}
	},
	"express" : {
		"options" : {
			"port" : 8888,
			"args" : ["http://www.foo.bar"]
		}
	}
}
