{
	"cfg" : {
		"sass" : "repertoire_sass",
		"css" : "repertoire_css"
	},
	"sass" : {
		"options" : {
			"outputStyle" : "compressed",
			"sourceMap": true
		}
	},
	"express" : {
		"options" : {
			"port" : 3000,
			"args" : ["http://www.foo.bar"]
		}
	}
}
